body {
	font-family: 'Poppins', sans-serif;
}

.header {
	background-color: #f1f1f1;
}

.logo {
	position: relative;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	transition: .9s;
}

.logo:hover {
	opacity: .8;
}


.logo:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FDA300;
	position: absolute;
	bottom: 8px;
	right: -14px;
}

.navbar {
	margin-bottom: 76px;
	background-color: #f1f1f1!important;
}

.nav-link, .navbar-light .navbar-nav .nav-link  {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: rgba(0, 0, 0, 1);
	margin-left: 50px;
}

.hero__desc {
	margin-top: 124px;
}

.hero__title {
	font-weight: 600;
	font-size: 44px;
	line-height: 66px;
	color: #000;
	margin-bottom: 20px;
}

.hero__text {
	font-size: 14px;
	line-height: 200%;
	color: #000000;
}

.hero__img {
	display: block;
	max-width: 100%;
	margin-left: auto;
}

.skills {
	padding-top: 90px;
	padding-bottom: 112px;
}

.card {
	border: none;
	margin-bottom: 50px;
}

.card-body {
	padding-left: 0;
}

.skills__img {
	margin-bottom: 30px;
	width: 68px;
	height: 68px;
	display: block;
}

.skills__card-title {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
}

.skills__card-text {
	font-size: 14px;
	line-height: 200%;
	color: #000000;
}